# Next.js
.next/
out/

# Dependencies
node_modules/

# Production build
/build

# Misc
.DS_Store
*.pem

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript incremental
*.tsbuildinfo
next-env.d.ts
